*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: "Montserrat", sans-serif;
}

body{
  background-color: #7895CB;
  min-height: 100vh;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
}